[submodule "coditex"]
	path = coditex
	url = git@git.vauxoo.com:vauxoo/coditex.git
	branch = 18.0
[submodule "l10n-mx-edi-account-move-report"]
	path = l10n-mx-edi-account-move-report
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-account-move-report.git
	branch = 18.0
[submodule "l10n-mx-edi-fiscal-legend"]
	path = l10n-mx-edi-fiscal-legend
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-fiscal-legend.git
	branch = 18.0
[submodule "l10n-mx-cash-basis-entries"]
	path = l10n-mx-cash-basis-entries
	url = git@git.vauxoo.com:mexico/l10n-mx-cash-basis-entries.git
	branch = 18.0
