[submodule "coditex"]
	path = coditex
	url = git@git.vauxoo.com:vauxoo/coditex.git
	branch = 14.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 14.0
[submodule "hr"]
	path = hr
	url = git@github.com:OCA/hr.git
	branch = 14.0
